RewriteEngine on
RewriteCond %{REQUEST_FILENAME} ^(.*).html$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ https://rebirth-rs.com/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ https://rebirth-rs.com/ [R=301,L]
